@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .quote-image {
    @apply absolute inset-0 bg-no-repeat bg-center bg-contain pointer-events-none;
    background-image: url('../../public/assets/icon-quotes.svg');
  }
  .btn-primary,
  .btn-secondary {
    @apply rounded-full border-2 border-white px-8 py-2;
  }
  /* PRIMARY DARK MODES */
  .dark-normal {
    @apply border-2 border-secondary-green-700 bg-white text-secondary-green-700;
  }
  .dark-hover {
    @apply border-2 border-secondary-green-700 bg-secondary-green-700 text-white;
  }
  .dark-disabled {
    @apply border-2 border-secondary-green-700 bg-white text-secondary-green-700 opacity-50;
  }

  /* PRIMARY LIGHT MODES */
  .light-normal {
    @apply border-2 border-white bg-transparent text-white;
  }
  .light-hover {
    @apply border-2 bg-white text-secondary-green-700;
  }
  .light-disabled {
    @apply border-2 border-white bg-secondary-green-700 text-white opacity-50;
  }

  /* SECONDARY LIGHT MODES */
  .secondary-light {
    @apply bg-white text-secondary-green-700;
  }
  .secondary-hover {
    @apply bg-secondary-green-400 text-secondary-green-700;
  }
  .secondary-disabled {
    @apply bg-secondary-green-400 text-secondary-green-700 opacity-50;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.h1 {
  font-size: clamp(
    2.5rem,
    calc(2.5rem + ((1vw - 0.234375rem) * 5.6338)),
    6.25rem
  );
  font-weight: 700;
  line-height: 40px;
}
.h2 {
  font-size: clamp(64px, calc(4rem + ((1vw - 3.75px) * -2.2535)), 40px);
  font-weight: 700;
  line-height: 56px;
}
.h3 {
  font-size: clamp(32px, calc(2rem + ((1vw - 3.75px) * 1.5023)), 48px);
  font-weight: 700;
  line-height: 32px;
}
.h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 28px;
}
.body-font {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 28px;
}
.body-font2 {
  font-size: 0.938rem;
  font-weight: 600;
  line-height: 25px;
}

.container {
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 24px;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 97px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-inline: 0;
  }
}
